<div id="software-update" class="page centered">
    <div class="page__step-wrapper">
        <div class="page__title-progress-subtitle-wrapper">
            <div class="page__title-and-loader">
                <h2 class="page__title flex-1">Downloading Updates</h2>
                <app-animated-loader></app-animated-loader>
            </div>
            <div class="page__step-wrapper-progress-bar">
                <app-progress-bar></app-progress-bar>
            </div>

            <div class="flex">
                <p class="page__step-wrapper-subtitle flex-1">Preparing update files do not turn off player</p>
            </div>
        </div>
    </div>
</div>
