.page {
    .clock {
        color: #fff;
        font-size: 5.2vw;
        font-weight: bold;
        margin-bottom: 0.52vw;
        text-align: center;

        span {
            font-size: 3.75vw;
        }
    }

    p {
        color: #fff;
        font-size: 1.5vw;
        font-weight: bold;
    }
}
