<div id="player-details" class="player-details">
    <div class="player-details__information">
        <div class="flex">
            <div class="player-details__information__dealer-host-screen-schedule">
                <div class="player-details__information__cell alias">
                    <span class="info">{{ playerDetails.licenseKey }}</span>
                    <span class="label">License Key</span>
                </div>

                <div class="player-details__information__cell dealer-information">
                    <span class="info">{{ playerDetails.dealerName }}</span>
                    <span class="label">Dealer Name</span>
                </div>

                <div class="player-details__information__cell host-information">
                    <span class="info">{{ playerDetails.hostName }}</span>
                    <span class="label">Host Name</span>
                </div>

                <div class="player-details__information__cell screen no-margin-bottom">
                    <span class="info">{{ playerDetails.screenName }}</span>
                    <span class="label">Screen</span>
                </div>
            </div>
        </div>
    </div>
</div>
