.progress-bar {
    background-color: #f0f0f0;
    border-radius: 99px;
    height: 0.4vw;
    overflow: hidden;
    position: relative;
    width: 100%;

    &__progess-indicator {
        background-color: #88d711;
        height: 100%;
        left: 0;
        position: absolute;
        transition: all 0.35s ease;
        top: 0;
    }

    &__info {
        color: #fff;
        font-size: 0.94vw;
        font-weight: 500;
        margin-bottom: 1.04vw;
    }
}
