<div id="play" class="page play-page">
    <ng-container *ngIf="businessOperating; else closed">
        <app-zone *ngFor="let zone of screenZones" [zoneData]="zone" [isFullscreen]="isFullscreen">
            <app-playlist
                [playlistId]="zone.playlist_id"
                [isMainzone]="zone.zone_order === 1 || screenZones.length === 1"
                (onDisplayModeChecked)="setDisplayMode($event, zone.zone_order)"
                [programmaticEnabled]="programmaticEnabled"></app-playlist>
        </app-zone>
    </ng-container>

    <ng-template #closed>
        <div class="play-page__closed"></div>
    </ng-template>
</div>
