.license-setup-form {
    .form-field-wrap {
        border: 0.1vw solid #fff;
        border-radius: 4.7vw;
        position: relative;
        overflow: hidden;
        height: 3.8vw;
        width: 50vw;
    }

    &__form-control {
        background: none;
        border: none;
        color: #fff;
        font-size: 1.3vw;
        letter-spacing: 0.1vw;
        outline: none;
        display: block;
        padding: 0 1.5vw;
        position: absolute;
        height: 100%;
        width: calc(100% - 10vw);
    }

    &__form-submit-btn {
        background: #505050;
        border-radius: 5.2vw;
        border: none;
        color: #aaa;
        cursor: not-allowed;
        font-size: 1.4vw;
        font-weight: bold;
        height: 2.8vw;
        padding: 0 1vw;
        position: absolute;
        right: 0.42vw;
        top: 0.42vw;
        width: 7.8vw;

        &.active {
            background: #77a718;
            color: #fff;
            cursor: pointer;

            &:hover {
                background: #7cc214;
            }
        }
    }
}
